<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.geora">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.location.network" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".GeoraClass"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="q">
        <activity android:name=".ui.test.TestActivity">

        </activity>
        <activity android:name=".ui.home.SavedItemSearchActivity" />
        <activity android:name=".ui.home.detailpage.rsvp.RSVPActivity" />
        <activity
            android:name=".ui.DetailsActivity.MyDetailsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.detailpage.DetailsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.checkout.CheckoutActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.imagepreview.ImagePreviewActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.addaddress.AddAddressActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.address.AddressListActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.addcard.AddCardActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.cardlist.CardListActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.onboard.OnBoardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.staticpages.StaticPagesActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.changepassword.ChangePasswordActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.editprofile.EditProfileActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.walkthrough.WalkThroughActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.deeplink.UrlActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="api.georaapp.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DetailsActivity.WebViewActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_place_key" />

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".util.DownloadFileIntentService"
            android:stopWithTask="false" />

        <service
            android:name=".Service.TestJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>